<footer class="footer fixed-bottom text-center">
  <p>Im Rahmen des <a href="https://wirvsvirushackathon.org/">WirVsVirus Hackathon</a> von <a href="https://w11.network">W11 Network</a> und <a href="https://matestack.io">Matestack</a> erstellt.</p>
</footer>
