<div class="pt-4 pb-5 pl-5 pr-5 row bg-whitegrey">
  <div class="col-8">
    <a href="/" class="">
       <%= link_to(image_tag("agora_logo.png", alt: "agora logo", class: "static-hero-logo"), root_path) %>
    </a>
  </div>
  <div class="col-4 pr-5 pt-2 text-right">
    <%= link_to "Einloggen", user_session_path, class: "blue-button" %>
  </div>
</div>
