
<%= render "shared/menu" %>
<div class="container">
  <div class="row mt-5 pt-5">
    <div class="col-md-6">
      <h1 class="welcome-header">Matching where it's needed most</h1>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
      <%= link_to "Einloggen", user_session_path, class: "blue-button" %>
    </div>
    <div class="col-md-6">
      Bild folgt
    </div>
  </div>
</div>
<%= render "shared/footer" %>
