@import "bootstrap";

/*
 *= require matestack-ui-core
 */


 body {
   font-family: 'Inter', sans-serif;
   background-color: #f9fbff;
   color: #2f2f2f;
 }

.welcome-header {
  font-size: 3rem;
}

 main {
   min-height: 80vh;
 }

 .matestack_page {
   padding-bottom: 320px;
 }

.navigation {
  min-height: 100%;
  padding-left: 35px;
}

.fat-footer-link, .navigation a {
  font-size: 1rem;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: normal;
  color: #2f2f2f;
}

.thin-footer-link {
  font-size: 14px;
  color: #2f2f2f;
}

.nav-active {
  color: #004bff !important;
}

.user-icon {
  vertical-align: bottom;
  height: 2rem;
  width: auto;
  margin-right: 2rem;
}

#new_message {
  width: 100%;
  box-shadow: 0 0 0 0 #fff;
  border-radius: 0 !important;
}

.shadowed-bg-white {
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(225, 225, 225, 0.5);
}

.message-preview {
  padding: 20px;
}

.static-hero-logo {
  height: 2rem;
  width: auto;
}

.circle {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  padding-top: 5px;
}

footer {
  background-color: #c7d7f6;
  padding: 60px 80px;
}

.footer-logo {
  width: 180px;
  height: auto;
}

.small-text {
  font-size: 11px;
}

h1 {
  font-size: 1.7rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
h2 {
  font-size: 1.4rem;
  font-weight: bold;
}
h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.logo {
  width: 55%;
  height: auto;
}

.message  {
  border-radius: 4px;
  padding: 1em;
  margin: 1em 0;
  width: 47%;
}
.own-message {
  background-color: #f0f4fd;
  float: right;
}

.their-message {
  background-color: #c7d7f6;
  float: left;
}

input {
  border-radius: 4px;
  border: 0;
  box-shadow: 0 0 5px 0 rgba(225, 225, 225, 0.5);
  background-color: #ffffff;
  padding: 10px;
}

.pw-reset {
  font-size: 11px;
  color: #868686;
  text-decoration: underline;
}

.chat-window {
  padding: 20px;
  width: 80%;
}

.message-sender {
  font-size: 11px;
  color: #868686;
}

.blue-button {
  border-radius: 2px;
  background-color: #0044e9;
  border: 0.1px solid #0044e9;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 7px 25px;
}

.blue-button:hover {
  background-color: #fff;
  color: #0044e9;
  border: 0.1px solid #0044e9;
  text-decoration: none;
}
