@import "bootstrap";

/*
 *= require matestack-ui-core
 */

 body {
   font-family: 'Inter', sans-serif;
   background-color: #fff;
   color: #2f2f2f;
 }

.snake {
  background-image: url(asset-path('agora_background.svg'));
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-dashboard {
  width: 100%;
  height: auto;
  position: absolute;
  top: -140px;
}

.landing-img-left {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 80px;
  left: 400px;
}

.landing-img-right {
  width: 80%;
  height: auto;
  position: absolute;
  bottom: 100px;
  left: -400px;
}

.landing-img-left-two {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 80px;
  left: 470px;
}

.big-header {
  font-size: 3rem;
}

.menu-header {
  font-size: 1.1rem;
}

 main {
   min-height: 65vh !important;
   background-color: #f9fbff;
 }

 .matestack_page {
   padding-bottom: 60px;
 }

.navigation {
  min-height: 65vh;
  height: 100%;
  padding-left: 35px;
}

.fat-footer-link, .navigation a {
  font-size: 1rem;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: normal;
  color: #2f2f2f;
}

.thin-footer-link {
  font-size: 14px;
  color: #2f2f2f;
}

.nav-active {
  color: #004bff !important;
}

.user-icon {
  vertical-align: bottom;
  height: 2rem;
  width: auto;
  margin-right: 2rem;
}

#new_message {
  width: 100%;
  box-shadow: 0 0 0 0 #fff;
  border-radius: 0 !important;
}

.status-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.status-open {
  background-color: #ff4f58;
}

.status-requested {
  background-color: #ffc511;
}

.status-closed {
  background-color: #8fff69;
}

.shadowed-bg-white {
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(225, 225, 225, 0.5);
}

.rounded-blue-button {
  text-align: center;
  display: block;
  padding: 6px 10px;
  color: #0044e9;
  border-radius: 4px;
  border: solid 1px #004bff;
}
.rounded-dark-button {
  text-align: center;
  display: block;
  padding: 6px 10px;
  color: #333333;
  border-radius: 4px;
  border: solid 1px #333333;
}

.tiny {
  font-size: 12px;
}

.message-preview {
  padding: 20px;
}

.static-hero-logo {
  height: 2rem;
  width: auto;
}

.circle {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  padding-top: 5px;
}

footer {
  background-color: #c7d7f6;
  padding: 60px 80px;
}

.footer-logo {
  width: 180px;
  height: auto;
}

.small-text {
  font-size: 11px;
}

h1 {
  font-size: 1.7rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
h2 {
  font-size: 1.4rem;
  font-weight: bold;
}
h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.logo {
  width: 55%;
  height: auto;
}

.message  {
  border-radius: 4px;
  padding: 1em;
  margin: 1em 0;
  width: 47%;
}
.own-message {
  background-color: #f0f4fd;
  float: right;
}

.their-message {
  background-color: #c7d7f6;
  float: left;
}

input {
  border-radius: 4px;
  border: 0;
  box-shadow: 0 0 5px 0 rgba(225, 225, 225, 0.5);
  background-color: #ffffff;
  padding: 10px;
}

.bg-white {
  background-color: #fff;
}

.bg-whitegrey {
  background-color: #f9fbff;
}

.pw-reset {
  font-size: 11px;
  color: #868686;
  text-decoration: underline;
}

.items {
  font-size: 13px;
  color: #2f2f2f;
}

.new_message_checkboxes #some_id {
  display: inline-block;
  width: 49%;
  input {
    display: inline;
    width: 10%;
    background-color: #ffffff;
  }
  label {
    padding-left: 5px;
    display: inline;
  }
}

.chat-window {
  padding: 20px;
  width: 80%;
}

.message-sender {
  font-size: 11px;
  color: #868686;
}

section {
  width: 100%;
}

.blue-button {
  border-radius: 5px;
  background-color: #0044e9;
  border: 0.1px solid #0044e9;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 7px 25px;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.blue-button-inverse {
  border-radius: 5px;
  background-color: #fff;
  border: 0.1px solid #0044e9;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #0044e9;
  padding: 7px 25px;
}

.blue-button:hover {
  background-color: #fff;
  color: #0044e9;
  border: 0.1px solid #0044e9;
  text-decoration: none;
}
